*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
header{
    background-color: #19283f;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo img{
  height: 40px;
}
header nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
header nav ul{
  display: flex;
  
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  display: block;
  color: #f0f8fb;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  padding: 40px 30px;
  font-weight: 100;

}
header nav ul li a.active,
header nav ul li a:hover{
  color:#00c7c0 ;
}
.form{
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid #00c7c0 ;
}
button{
  background-color: #ff3150;
  border: none;
  color: #ff941b;
  cursor: pointer;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  
}

header .form button{
  margin-left: 16px;
  padding: 12px 40px;
  border-radius: 15px;
}
.title{
  color: #f0f8fb;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 500px;
}
.title h1{
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 0;
}
.title p{
  font-size: 15px;
  font-weight: 100;
  padding-left: 60px;
  
}
.title button{
  margin-bottom: 50px;
  transform: translateX(120px);
  padding: 10px 50px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 20px;
  margin-top: 20px;
}