*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
header{
    background-color: #19283f;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.logo img{
  height: 40px;
}
header nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}
header nav ul{
  display: flex;
  
}
header nav ul li{
  list-style: none;
}
header nav ul li a{
  display: block;
  color: #f0f8fb;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  padding: 40px 30px;
  font-weight: 100;

}
header nav ul li a.active,
header nav ul li a:hover{
  color:#00c7c0 ;
}
.form{
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid #00c7c0 ;
}
button{
  background-color: #ff3150;
  border: none;
  color: #ffc501;
  cursor: pointer;
  border-radius: 1vw;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  
}

header .form button{
  margin-left: 16px;
  padding: 12px 40px;
  border-radius: 15px;
  transform: translateY(-10px);
}
header .title{
  text-align: center;
}
header .title h1{
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 0;
  color: #f0f8fb;
}
header .title p{
  font-size: 15px;
  font-weight: 100;
  color: #a8b9c0;
}
header .title button{
  margin-bottom: 50px;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 20px;
  margin-top: 20px;
  
}
.services .title {
  text-align: center;
  border-bottom: 1px solid #00c7c0;
  margin: 0 400px;
}
.services .title h1{
  margin-top: 100px;
  color: #1a2940;
  font-weight: 600;
  font-size: 25pt;
  margin-bottom: 5px;
}
.services .title p{
  color: #a8b9c0;
  font-weight: 300;
  font-size: 15px;
}
.services-ctrl{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.service-1,
.service-2,
.service-3{
  width: 300px;
  text-align: center;
  margin: 0;
}
.service-1 h1,
.service-2 h1,
.service-3 h1{ 
  font-weight: 900;
  font-size: 200px;
  margin: 0;
  color: #eff7fa;
}
.service-1 h2,
.service-2 h2,
.service-3 h2{
  color: #ffc501;
  margin: 0;
}
.service-1 p,
.service-2 p,
.service-3 p{
  color: #a8b9c0;
  font-size: 14px;
  font-weight: 300;
}
.portfolio{
  background-color: #eff7fa;
  transform: translateY(30px)
}
.portfolio .title{
  text-align: center;
  border-bottom: 1px solid #00c7c0;
  margin: 0 400px;
}
.portfolio .title h1{
  padding-top: 100px;
  color: #1a2940;
  font-weight: 600;
  font-size: 25pt;
  margin-bottom: 5px;
}
.portfolio .title p{
  color: #a8b9c0;
  font-weight: 300;
  font-size: 15px;
}
.portfolio .nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.portfolio .nav ul{
  display: flex;
}
.portfolio .nav ul li{
  list-style: none;
}
.portfolio .nav ul li a{
  color: #a8b9c0;
  text-decoration: none;
  padding-right: 40px;
  margin-right: 20px;
}
.portfolio .nav ul li a.active,
.portfolio .nav ul li a:hover{
  background-color: #ff3150;
  color: #ffc501;
  border-radius: 15px;
  padding: 10px 20px;
}